<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <link rel="stylesheet" media="all" href="css/style2.css">
		<link rel="stylesheet" media="all" href="css/style.css">
        <title>Golgen Fish</title>
		<link rel="icon" href="img/Fevicon.png" type="image/png">
		<link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
		  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
		  <link rel="stylesheet" href="vendors/linericon/style.css">
		<link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
		<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
		<link rel="stylesheet" href="vendors/nice-select/nice-select.css">
		<link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">




    </head>
<body>

    <header id="header">
		<div class="container">
			<a href="index.html" id="logo" title="Golg Fish">Golgen Fish</a>
			<div class="right-links">
				<ul>
					<li><a href="cart.html"><span class="ico-products"></span>2 продукта: 500,00 руб.</a></li>
					
				</ul>
			</div>
		</div>
	</header>
    
    <nav id="menu">
		<div class="container">
			<div class="trigger"></div>
			<ul>
				<li><a href="rings.html">Кольца</a></li>
				<li><a href="earrings.html">Серьги</a></li>
				<li><a href="bracelets.html">Браслеты</a></li>
				<li><a href="pendants.html">Подвески и колье</a></li>
				<li><a href="giftcards.html">Подарочные карты</a></li>
				<li><a href="stock.html">Акции</a></li>
			</ul>
		</div>
	</nav>

   
    <section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Впервые на нашем сайте?</h4>
							<p>Красоту женщины на тридцать процентов определяет природа и на семьдесят — украшения, которые на ней надеты.</p>
							<a class="button button-account" href="register.html">Создать аккаунт</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Введите данные</h3>
						<form class="row login_form" action="#/" id="contactForm" >
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Войти</button>
								<a href="#">Забыли пароль?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>


    <footer id="footer">
		<div class="container">
			<div class="cols">
				<div class="col">
					<h3>О КОМПАНИИ</h3>
					<ul>
						<li><a href="#">О нас </a></li>
						<li><a href="#">Наши магазины</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Сотрудничество</a></li>
						<li><a href="#">Работа в Golden Fish</a></li>
					</ul>
				</div>
				<div class="col media">
					<h3>Социальные сети</h3>
					<ul class="social">
						<li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
						<li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
						<li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
						<li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>
					</ul>
				</div>
				<div class="col contact">
					<h3>Инфоцентр</h3>
					<p>Golden Fish Inc.<br>Московский проспект, 61<br>Витебск</p>
					<p><span class="ico ico-em"></span><a href="#">contact@goldenfish.com</a></p>
					<p><span class="ico ico-ph"></span>+375-29-590-590</p>
				</div>
				<div class="col newsletter">
					<h3>КЛИЕНТАМ</h3>
					<ul>
						<li><a href="#">Скупка и обмен </a></li>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Программа лояльности</a></li>
						<li><a href="#">Оплата и доставка</a></li>
						<li><a href="#">Подарочный сертификат </a></li>
					</ul>
				</div>
			</div>
			<p class="copy">Copyright 2022 Golden Fish. All rights reserved.</p>
		</div>
		<!-- / container -->
	</footer>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>