<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" media="all" href="css/style.css">
    <title>Golden Fish</title>
</head>
<body>
    <header id="header">
		<div class="container">
			<a href="index.html" id="logo" title="Golg Fish">Golden Fish</a>
			<div class="right-links">
				<ul>
					<li><a href="cart.html"><span class="ico-products"></span>2 продукта: 500,00 руб.</a></li>
					<li><a href="#"><span class="ico-account"></span>Личный кабинет</a></li>
					<li><a href="#"><span class="ico-signout"></span>Sign out</a></li>
				</ul>
			</div>
		</div>
	</header>
    
    <nav id="menu">
		<div class="container">
			<div class="trigger"></div>
			<ul>
				<li><a href="rings.html">Кольца</a></li>
				<li><a href="earrings.html">Серьги</a></li>
				<li><a href="bracelets.html">Браслеты</a></li>
				<li><a href="pendants.html">Подвески</a></li>
				<li><a href="giftcards.html">Подарочные карты</a></li>
				<li><a href="stock.html">Акции</a></li>
			</ul>
		</div>
	</nav>

    <div id="body">
		<div class="container">
			<div id="content" class="full">
				<div class="product">
					<div class="image">
						<img src="images/18.jpg" alt="">
					</div>
					<div class="details">
						<h1>Кольцо обручальное из белого золота 148007/W</h1>
						<h4>1302,00 руб.</h4>
						<div class="entry">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<div class="tabs">
								<div class="nav">
									<ul>
										<li class="active"><a href="#desc">Характеристики</a></li>
										<li><a href="#spec">Specification</a></li>
										<li><a href="#ret">Returns</a></li>
									</ul>
								</div>
								<div class="tab-content active" id="desc">
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
								</div>
								<div class="tab-content" id="spec">
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
								</div>
								<div class="tab-content" id="ret">
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
								</div>
							</div>
						</div>
						<div class="actions">
							<label>Кол-во:</label>
							<select><option>1</option></select>
							<a href="#" class="btn-grey">Добавить в корзину</a>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>


    <footer id="footer">
		<div class="container">
			<div class="cols">
				<div class="col">
					<h3>О КОМПАНИИ</h3>
					<ul>
						<li><a href="#">О нас </a></li>
						<li><a href="#">Наши магазины</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Сотрудничество</a></li>
						<li><a href="#">Работа в Golden Fish</a></li>
					</ul>
				</div>
				<div class="col media">
					<h3>Социальные сети</h3>
					<ul class="social">
						<li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
						<li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
						<li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
						<li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>
					</ul>
				</div>
				<div class="col contact">
					<h3>Инфоцентр</h3>
					<p>Golden Fish Inc.<br>Московский проспект, 61<br>Витебск</p>
					<p><span class="ico ico-em"></span><a href="#">contact@goldenfish.com</a></p>
					<p><span class="ico ico-ph"></span>+375-29-590-590</p>
				</div>
				<div class="col newsletter">
					<h3>КЛИЕНТАМ</h3>
					<ul>
						<li><a href="#">Скупка и обмен </a></li>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Программа лояльности</a></li>
						<li><a href="#">Оплата и доставка</a></li>
						<li><a href="#">Подарочный сертификат </a></li>
					</ul>
				</div>
			</div>
			<p class="copy">Copyright 2022 Golden Fish. All rights reserved.</p>
		</div>
		<!-- / container -->
	</footer>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>