<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" media="all" href="css/style.css">
    <title>Golden Fish</title>
</head>
<body>
    
    <header id="header">
		<div class="container">
			<a href="index.html" id="logo" title="Golg Fish">Golden Fish</a>
			<div class="right-links">
				<ul>
					<li><a href="cart.html"><span class="ico-products"></span>2 продукта: 500,00 руб.</a></li>
					<li><a href="account.html"><span class="ico-account"></span>Личный кабинет</a></li>
				</ul>
			</div>
		</div>
	</header>
    
    <nav id="menu">
		<div class="container">
			<div class="trigger"></div>
			<ul>
				<li><a href="rings.html">Кольца</a></li>
				<li><a href="earrings.html">Серьги</a></li>
				<li><a href="bracelets.html">Браслеты</a></li>
				<li><a href="pendants.html">Подвески</a></li>
				<li><a href="giftcards.html">Подарочные карты</a></li>
				<li><a href="stock.html">Акции</a></li>
			</ul>
		</div>
	</nav>

    <div id="breadcrumbs">
		<div class="container">
			<ul>
				<li><a href="main.html">На главную</a></li>
				<li>Каталог "Кольца"</li>
			</ul>
		</div>
	</div>

    <div id="body">
		<div class="container">
			<div class="pagination">
				<ul>
					<li><a href="#"><span class="ico-prev"></span></a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"><span class="ico-next"></span></a></li>
				</ul>
			</div>
			<div class="products-wrap">
				<aside id="sidebar">
					<div class="widget">
						<h3>Товаров на странице:</h3>
						<fieldset>
							<input checked type="checkbox">
							<label>8</label>
							<input type="checkbox">
							<label>16</label>
							<input type="checkbox">
							<label>32</label>
						</fieldset>
					</div>
					<div class="widget">
						<h3>Сортировать по:</h3>
						<fieldset>
							<input checked type="checkbox">
							<label>Популярности</label>
							<input type="checkbox">
							<label>Алфавиту</label>
							<input type="checkbox">
							<label>Увеличению цены</label>
							<input type="checkbox">
							<label>Уменьшению цены</label>
						</fieldset>
					</div>
					<div class="widget">
						<h3>Вид металла:</h3>
						<fieldset>
							<input checked type="checkbox">
							<label>Золото</label>
							<input type="checkbox">
							<label>Серебро</label>
							<input type="checkbox">
							<label>Белое золото</label>
							<input type="checkbox">
							<label>Розовое золото</label>
						</fieldset>
					</div>
					<div class="widget">
						<h3>Для кого:</h3>
						<fieldset>
							<input checked type="checkbox">
							<label>Для женщин</label>
							<input type="checkbox">
							<label>Для мужчин</label>
							<input type="checkbox">
							<label>Унисекс</label>
							<input type="checkbox">
							<label>Для детей</label>
						</fieldset>
					</div>
					
				</aside>
				<div id="content">
					<section class="products">
						<article>
							<a href="ring.html"><img src="images/11.jpg" alt=""></a>
							<h3><a href="ring.html">Кольцо обручальное из розового золота 145007</a></h3>
							<h4><a href="ring.html">820,00 руб.</a></h4>
							<a href="cart.html" class="btn-add">Add to cart</a>
						</article>
						<article>
							<a href="ring.html"><img src="images/15.jpg" alt=""></a>
							<h3><a href="ring.html">Кольцо обручальное из розового золота 105008</a></h3>
							<h4><a href="ring.html">572,00 руб.</a></h4>
							<a href="cart.html" class="btn-add">Добавить к корзину</a>
						</article>
						<article>
							<a href="ring.html"><img src="images/16.jpg" alt=""></a>
							<h3><a href="ring.html">Кольцо из серебра с фианитом 0210489-CD</a></h3>
							<h4><a href="ring.html">57,00 руб.</a></h4>
							<a href="cart.html" class="btn-add">Добавить к корзину</a>
						</article>
						<article>
							<a href="ring.html"><img src="images/13.jpg" alt=""></a>
							<h3><a href="ring.html">Кольцо из комбинированного серебра 384-к-р</a></h3>
							<h4><a href="ring.html">73,00 руб.</a></h4>
							<a href="cart.html" class="btn-add">Добавить к корзину</a>
						</article>
						<article>
							<a href="ring.html"><img src="images/17.jpg" alt=""></a>
							<h3><a href="ring.html">Кольцо из серебра с фианитом 0210042</a></h3>
							<h4><a href="ring.html">77,00 руб.</a></h4>
							<a href="cart.html" class="btn-add">Добавить к корзину</a>
						</article>
						<article>
							<a href="ring.html"><img src="images/18.jpg" alt=""></a>
							<h3><a href="ring.html">Кольцо обручальное из белого золота 148007/W</a></h3>
							<h4><a href="ring.html">1302,00 руб.</a></h4>
							<a href="cart.html" class="btn-add">Добавить к корзину</a>
						</article>
						<article>
							<a href="ring.html"><img src="images/19.jpg" alt=""></a>
							<h3><a href="ring.html">Кольцо из розового золота с фианитом 210539-9K</a></h3>
							<h4><a href="ring.html">477,00 руб.</a></h4>
							<a href="cart.html" class="btn-add">Добавить к корзину</a>
						</article>
						<article>
							<a href="ring.html"><img src="images/20.jpg" alt=""></a>
							<h3><a href="ring.html">Кольцо помолвочное из розового золота с бриллиантом 2D00104.14K.R</a></h3>
							<h4><a href="ring.html">624,00 руб.</a></h4>
							<a href="cart.html" class="btn-add">Добавить к корзину</a>
						</article>
					</section>
				</div>
			</div>
			<div class="pagination">
				<ul>
					<li><a href="#"><span class="ico-prev"></span></a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"><span class="ico-next"></span></a></li>
				</ul>
			</div>
		</div>
	</div>


    <footer id="footer">
		<div class="container">
			<div class="cols">
				<div class="col">
					<h3>О КОМПАНИИ</h3>
					<ul>
						<li><a href="#">О нас </a></li>
						<li><a href="#">Наши магазины</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Сотрудничество</a></li>
						<li><a href="#">Работа в Golden Fish</a></li>
					</ul>
				</div>
				<div class="col media">
					<h3>Социальные сети</h3>
					<ul class="social">
						<li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
						<li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
						<li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
						<li><a href="#"><span class="ico ico-pi"></span>Pinterest</a></li>
					</ul>
				</div>
				<div class="col contact">
					<h3>Инфоцентр</h3>
					<p>Golden Fish Inc.<br>Московский проспект, 61<br>Витебск</p>
					<p><span class="ico ico-em"></span><a href="#">contact@goldenfish.com</a></p>
					<p><span class="ico ico-ph"></span>+375-29-590-590</p>
				</div>
				<div class="col newsletter">
					<h3>КЛИЕНТАМ</h3>
					<ul>
						<li><a href="#">Скупка и обмен </a></li>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Программа лояльности</a></li>
						<li><a href="#">Оплата и доставка</a></li>
						<li><a href="#">Подарочный сертификат </a></li>
					</ul>
				</div>
			</div>
			<p class="copy">Copyright 2022 Golden Fish. All rights reserved.</p>
		</div>
		<!-- / container -->
	</footer>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>